@using market.Host.Models.Products

@{
    ViewData["Title"] = "Index";
}

@model List<ProductModel>

<h1>Products</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @if(Model != null)
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem;">
                <img src="https://images.unsplash.com/photo-1546587348-d12660c30c50?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8bmF0dXJhbHxlbnwwfHwwfHw%3D&w=1000&q=80" class="card-img-top" alt="nature">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        }
    </tbody>

    
</table>





