@using market.Host.Models.Products

@{
    ViewData["Title"] = "Index";
}

<h1>Product info</h1>

@model ProductModel

<div>
    <h3>@Model.Name</h3>
    @Model.Description
    @Model.Price


</div>

